@import "tailwindcss";
@import "./variables.css";

:root {
  height: 100vh;
  &::before {
    content: "";
    background: var(--background);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}
/* body {
  position: relative;
  color: var(--text-color);
  margin: auto;
  max-width: var(--max-width);
  height: calc(100vh - 3.5rem);
  overflow: hidden;
} */
